header {
    & .logo-wrapper {
        display: flex;
        justify-content: center; 
        width: 100%;             
    }
    & #logo {
        display: flex;
        align-items: center;
        margin: 0;
        gap: .5rem;
    }
    & .back {
        display: flex;
        align-items: center;
        gap: .5rem;
        & span {
            font: var(--text-sm);
            color: var(--color-brand);
        }
        & img {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}