header { 
    padding-inline: 2rem 2rem;
    .back {
        display: flex;
        align-items: center;
        gap: .5rem;
        & span {
            font: var(--text-sm);
            color: var(--color-brand);
        }
        & img {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}